.page-container { background-color: #f8f8f8; }
.banner-wrap { background: url(images/layout.svg) cover; filter: contrast(80%); margin-bottom: 60pt; }
.banner { background-color: #0022CC; background-blend-mode: color; }
.search { color: #CCCCCC; height: 40pt; align: center; line-height: 20pt; border-radius: 20pt; padding: 0pt 20pt; margin: 0pt 15pt; background-color: rgba(255, 255, 255, 0.3); }
.appbar-content { align: bottom; } .appbar-title, .appbar-subtitle, .appbar-text { color: white; align: left; margin: 4pt 20pt 0pt; text-align: start; }
.appbar-title { font-size: 3em; } .appbar-subtitle { font-size: 1em; font-weight: 300; opacity: 0.3; padding-left: 0.2em; } .appbar-text { font-size: 2em; padding-left: 0.1em; }
.player-panel { height: 80pt; background: white; border-radius: 15pt; overflow: hidden; margin: 20pt; box-shadow: 5pt 5pt 10pt rgba(0, 0, 0, 0.1); }
.player-cover { width: 80pt; height: 80pt; background: #CCCCCC; } .player-cover.active { background: red; }
.section-header { margin: 20pt; }
.section-title, .album-title { font-weight: bold; color: #405c91; }
.section-op, .album-author { color: #97aacc; }
.album-list { height: 45vw; } .album { margin-right: 10pt; }
.album:first-child { margin-left: 20pt; }
.album-cover { width: 27vw; height: 27vw; margin-bottom: 15pt; background-image: url(images/banner.jpg); background-size: cover; border-radius: 8pt; }
.album-title, .album-author { margin-bottom: 4pt; text-align: start; }
.song { background: url(images/divider.png) repeat-x; border-radius: 15pt; }
.app-tab::tab-indicator { background-color: white; padding: 5pt 10pt; border-radius: 25pt; }
.app-tab::tab-control { color: white; }
.app-tab::tab-control-selected { color: blue; }
.app-bar { border-radius: 0pt 0pt 25pt 25pt; background-color: blue; overflow: hidden; box-shadow: 0pt 5pt 6pt rgba(0, 0, 0, 0.2); }